@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif, Sans-Serif;
}

header {
    display: inline;
}
  
.jumbotron {
             font-size: 20px;
             padding: 50px;
             background-image: url('image/H1.png');
             text-align: center;
             color: white;
}

nav {
    background-image: url('image/h1.png');
    padding: 5px;
    top: 0;
    position: sticky;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}
nav a:active {
    color: blue;
}

main {
    padding: 20px;
    overflow: auto;
    text-align: justify;
    background-color: #152642;

}

#content {
    float: right;
    width: 75%;
}

* {box-sizing: border-box;}

.card {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 5px 1px white;
}

h2,
h3, h4 {
    margin-bottom: 0;
    margin-top: 10px;
    color: #152642;
}

.gambar {
    max-width: 78%;
    border-radius: 10px;
}
.sub {
    background-color: azure;
    text-decoration: none;
    color: navy;
}
/*Slider*/
  .utama{
   width: 78%;
   overflow: hidden;
  }.isi{
   width: 83%;
   margin: auto;
   overflow: hidden;
  }.inti{
   width: 25%; 
   float: left;  
   text-align: center;
  }.isi2{
   width: 400%;
  }
  .utama img{
   width: 100%;
   float: left;
   border-radius: 10px;
  }
  
aside {
    float: left;
    width: 25%;
    padding-right: 20px;
}

.kontak {
    text-align: center;
}

.profile {
    border-radius: 1000px;
    max-width: 90%;
}
@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

.logo-img {
    height: 20px;
}

.loc {
    width: 20px;
}


.footer-img {
    width: 40px;
    margin-left: 10px;
}

footer {
    text-align: center;
    background-image: url('image/h1.png');
    padding: 10px;
    color: white;
    font-weight: bold;

}

h5, h6 {
    color: white;
}